<!DOCTYPE html>
<html>

<head>
    <title>WEB-Login</title>
    <meta charset="utf-8">
</head>

<body>
    <h1><a href="/">WEB</a> - Login</h1>
    <div id="container">
        <form action='/login' method='post'>
            <p><input type='text' name='userid' placeholder='userid'></p>
            <p><input type='password' name='password' placeholder='password'></p>
            <p><input type='submit'></p>
        </form>
        <div>{{ msg }}</div>
    </div>
</body>

</html>